{% extends "base.html" %}

{% block content %}
<h2 align="center">Works log</h2>
{% if current_user.is_authenticated %}
<a class="btn btn-secondary" href="/departments">Департаменты</a>
<a class="btn btn-secondary" href="/addjob">Добавить работу</a>
{% endif %}
<p></p>
{% for elem in data['jobs'] %}
<h4 style="margin-left: 70px; color: black">Action # {{ loop.index }}</h4>
<table class="table" align="center">
    <thead>
    <tr class="table-secondary">
        <th scope="col" width="30%">Title of activity</th>
        <th scope="col" width="20%">Team leader</th>
        <th scope="col" width="10%">Duration</th>
        <th scope="col" width="15%">List of collaborators</th>
        <th scope="col" width="10%">Hazard category</th>
        <th scope="col" width="15%">Is finished</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info table-center-vertical">
        <td>{{ elem['job_title'].capitalize() }}</td>
        <td>{{ data_leaders['users'][elem['team_leader_id']]['surname'] }} {{
            data_leaders['users'][elem['team_leader_id']]['name'] }}
        </td>
        <td>{{ elem['work_size'] }}</td>
        <td align="center">{{ elem['collaborators'] }}</td>
        <td align="center">{{ elem['hazard_category_id'] }}</td>
        {% if elem['is_finished'] %}
        <td class="table-danger" align="center"> Is not finished</td>
        {% else %}
        <td class="table-success" align="center"> Is finished</td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% if current_user.is_authenticated %}
<a class="btn btn-warning" href="/edit_job/{{ elem['id'] }}">Редактировать работу</a>
<a class="btn btn-danger" href="/delete_job/{{ elem['id'] }}">Удалить работу</a>
{% endif %}
<p></p>
{% endfor %}
{% endblock %}